.header-color {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000,#000000, #223679); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000,#000000, #223679); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}

.landing-grid {
  background-image: url("/walla.jpeg");
  text-align: center;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.headingdetails{

  text-align: center;
  background-color: #f8fbfd;
}


.stack-grid1{
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6587aa,#9fb3c7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6587aa,#9fb3c7); 
  height: 100%;
  display:inline-block;
  width:100%;
  text-align: center;
 
}

.stack-grid2 {
  display:inline-block;
  text-align: center;
  padding: 10px;
}

.container{
  margin-left: 7em;
  margin-top: 1em;
  width: 100%;
  display: flex;
  background-color: aqua;
}

.projects-grid1{
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f8fbfd,#557faa); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f8fbfd,#557faa); 
}

.draw{
  display:flex;
  padding: 1em;
  font-size: 1.5em;
  
}

.projects-grid2 {
  display: flex;
  padding-top: 2em;
  
}

 .stack-grid3{
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f8fbfd,#557faa); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f8fbfd,#557faa); 
  height: 100%;
  width: 200%;
} 

.stack-grid4 {
  display: flex;

}

.contact-grid{
display:flex;
}
.overflow{
  overflow: hidden;
}
.card-img-top{
  transition:transform 0.5s ease;
}
.card-img-top:hover{
  transform: scale(0.7);
}
.card:hover{
  box-shadow:5px 10px 20px 1px rgba(0,0,0,253)!important;
  transform:
   scale(1.1);
}
.card-img-top-resume:hover{
  transform: scale(1.05);
  box-shadow:5px 10px 20px 1px rgba(0,0,0,253)!important;
}
/* Resume Page css */
.resume-right-col {
  background: rgb(0, 0, 0);
  color: white;
  padding: 1em;
}
.resume-right-col2 {
  background: rgb(95, 90, 87);
  color: white;
  margin: auto;
 

}
.achieveBack{
background-color: #14191f;
width: 100%;
height: 100%;

}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}
.asd{
  text-align: center;
  
}
.resume-grid {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 900px;
  background: white;
  color: black;
  margin-bottom: px;
}


.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}
.ach-grid {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  padding: 0.5em;
  color: #000000;
  
}
.contact-gridr {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 50px;
  padding-right: 5rem;
}

.trial{
  height: 60%;
  width: 90%;
  scroll-padding-top: 2em;
  margin: auto;
  border-radius: 10px;
  padding: 1em;
}

.next{
  display: flex;
  margin: auto;
}
.font-list{
  font-size: 30px;
text-align: center;
font-weight: bold;
  margin-left: 2em;
}


/* contact page css */

.avatar-img {
  height: 200px;
  padding-top: 1em;
}
/* .avatar-img:hover{
  height: 250px;
  transform:
   scale(1.05);
  padding-top: 2em;
} */

.banner-text {
  background-color: black;
  opacity: .8;
  height: 95%;
  width: 75%;
  scroll-padding-top: 2em;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.card{
  display:flex;
margin: auto;
}

.card1{
  padding:2em;
  display: inline;
}
.card-title{
  margin: auto;
  padding-left: 5em;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 75%;
  display: flex;
margin: auto;
padding: 0.5em;
  /* margin: auto; */
}

.banner-text p {
  color: white;
  font-size: 20px;

}

.but{
  justify-content: space-between;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  padding-bottom: 1.2em;
}

.social-links i {
  display: flex;
  color: white;
  font-size: 4em;
margin: auto;
}

.submit{
  width: 100%;
  margin: auto;
  padding-bottom: em ;
}

.middle{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.cards{
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 5px;
  margin-left: 50px;
  margin-top: 50px;
  display:inline-block;

  margin: auto;
}

.front,.back{
  width: 100%;
  height:100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
}

.front2,.back2{
  width: 50%;
  height:50%;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform .6s linear;
}


.front img{
  height: 100%;
}
.front{
  transform: perspective(600px) rotateY(0deg);
}

.back{
  background: #f1f1f1;
  transform: perspective(600px) rotateY(180deg);
}

.back-content{
  color:#2c3e50;
  text-align: center;
  width: 100%;
}

.sm{
  margin:20px 0;
}
.sm a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #223679;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 50%;
}

.sm a:hover{
  background: #6587aa;
  color: white;
}

.cards:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}

.cards:hover > .back{
  transform: perspective(600px) rotateY(0deg);

}